@import "../../styles/myStyles";

.about {
    font-family: 'Open sans', sans-serif;

    //background
    height: 50em;
    width: 80%;
    background-image: url('../../assets/ashape.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    top: -7em;

    //display
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: right;

    //mypicture 
    .myself {
        position: relative;
        top: 0;
        right: 0;
        height: 20em;
        width: 40em;

        img {
            height: 60em;
            width: auto;
            position: absolute;
            left: 0em;
            top: -3em;
        }
    }
}

//Image and description
.presentation {
    position: relative;
    left: 0em;
    top: 1.5em;

    .isMe {

        margin-bottom: 2em;

        h1 {
            position: relative;
            left: -2.8em;
            font-size: 3em;
            font-weight: 800;
            color: $fourth-color;
        }

        p {
            position: relative;
            left: 1.3em;
            height: auto;
            width: 50%;
            text-align: left;

            font-weight: 300;
            font-size: 1.5em;
            color: $fourth-color;

            span {
                color: $third-color;
                font-weight: bold;
            }
        }
    }

    .iSpeak {
        position: absolute;
        left: 1em;
        text-align: left;

        font-size: 1.7em;
        font-weight: 800;
        color: $fourth-color;

        h2 {
            margin-bottom: .3em;
        }

        img {
            height: auto;
            width: 2em;
            margin-right: .4em;
        }
    }

}