<div class="about">
    <div class="myself">
        <img src="../../assets/myPicture.png" alt="picture">
    </div>
    <div class="presentation">
        <div class="isMe" v-for="about of aboutMe" v-bind:key="about['.key']">
            <h1>{{about.name}}</h1>
            <p>{{about.description}}</p>
        </div>
        <div class="iSpeak">
            <div class="languages">
                <h2>{{lang}}</h2>
                <img src="../../assets//IconsPortfolio/techs/html-5.png">
                <img src="../../assets//IconsPortfolio/techs/css.png">
                <img src="../../assets//IconsPortfolio/techs/sasspng.png">
                <img src="../../assets//IconsPortfolio/techs/js.png">
                <img src="../../assets//IconsPortfolio/techs/php.png">
            </div>
            <div class="frameworks">
                <h2>{{fram}}</h2>
                <img src="../../assets/IconsPortfolio/techs/vuelogo.png">
                <img src="../../assets/IconsPortfolio/techs/react.png">
                <img src="../../assets/IconsPortfolio/techs/express.png">
            </div>
            <div class="tools">
                <h2>{{tools}}</h2>
                <img src="../../assets/IconsPortfolio/techs/mongodb.png">
                <img src="../../assets/IconsPortfolio/techs/node.png">
            </div>
        </div>
    </div>
</div>